@model Kenny.Models.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password</legend>
		<div class="editor-label">
			@Html.LabelFor(m => m.OldPassword)
		</div>
		<div class="editor-field">
			@Html.PasswordFor(m => m.OldPassword)
		</div>
		<div class="editor-label">
			@Html.LabelFor(m => m.NewPassword)
		</div>
		<div class="editor-field">
			@Html.PasswordFor(m => m.NewPassword)
		</div>
		<div class="editor-label">
			@Html.LabelFor(m => m.ConfirmPassword)
		</div>
		<div class="editor-field">
			@Html.PasswordFor(m => m.ConfirmPassword)
		</div>
		<p>
			<button type="submit" value="Change Password" class="btn">Change Password</button>
		</p>
    </fieldset>
}
