@model Kenny.Models.LoginModel

@{
    ViewBag.Title = "Sign In";
}

<hgroup class="title">
	<h2>Account</h2>
</hgroup>


<section id="loginForm">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@ViewBag.Title</legend>
		<div class="editor-label">
			@Html.LabelFor(m => m.UserName)
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(m => m.UserName)
			@Html.ValidationMessageFor(m => m.UserName)
		</div>
		<div class="editor-label">
			@Html.LabelFor(m => m.Password)
		</div>
		<div class="editor-field">
			@Html.PasswordFor(m => m.Password)
			@Html.ValidationMessageFor(m => m.Password)
		</div>
		<div class="editor-label">
			<label class="checkbox" for="RememberMe">@Html.CheckBoxFor(m => m.RememberMe) Remember me?</label>
		</div>
		<div class="editor-field">
			
		</div>
		<p>
			<button type="submit" value="Sign In" class="btn">Sign In</button>
		</p>
	</fieldset>
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
}
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
