<!DOCTYPE html>

<html>
<head>
	<link type="text/css" rel="stylesheet" href="~/Assets/css/bootstrap.css" />
	<link type="text/css" rel="stylesheet" href="~/Assets/css/bootstrap-responsive.css" />
	<style>
		.navbar-inverse .navbar-inner {
			background-color: #3C3C3C;
			background-image: linear-gradient(to bottom, #3C3C3C, #3C3C3C);
		}
	</style>
	@RenderSection("Scripts", false)
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
</head>
<body>
	<div class="navbar navbar-inverse navbar-static-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("Kenny", "Index", "Home", new {}, new { @class = "brand" })
				<div class="nav-collapse collapse">
					@if (Request.IsAuthenticated) {
						<ul class="nav">
							<li>@Html.ActionLink("Sites", "Index", "Sites")</li>
						</ul>
					}
					@Html.Partial("_LoginPartial")
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>
	<div class="container">
		@RenderBody()
	</div>
</body>
</html>
