@model IEnumerable<Kenny.Models.FoundLogin>

@{
	ViewBag.Title = "Found Logins";
}

@if (Model.Count() > 0) {
	<h2>@Model.First().Site.Name Logins</h2>
} else {
	<h2>No Logins Found</h2>
}

@foreach (var item in Model)
{
	<div class="row login">
		<div class="span2">
			@Html.DisplayFor(modelItem => item.Username):@Html.DisplayFor(modelItem => item.Password)
		</div>
		<div class="span4">
			<a target="_blank" class="btn btn-mini" href="http://@item.Username:@item.Password&#64;@item.Site.AuthenticatedUrl"><i class="icon-eye-open"></i> Test</a>
			@if (!item.IsValid.HasValue) {
				using (Html.BeginForm("Validate", "FoundLogins", new { id = item.Id })) {
				<button type="submit" value="Valid" class="btn btn-mini"><i class="icon-ok"></i> Valid</button>
				}
			}
			@using (Html.BeginForm("Invalidate", "FoundLogins", new { id = item.Id })) {
				<button type="submit" value="Invalid" class="btn btn-mini"><i class="icon-ban-circle"></i> Invalid</button>
			}
			<a class="source-popover btn btn-mini" rel="popover"><i class="icon-info-sign"></i> Source...</a>
			<div style="display: none;">
				<p>Collected: @(item.DateCollected.HasValue ? item.DateCollected.Value.ToShortDateString() : "N/A")</p>
				<p class="source-url"><a target="_blank" href="@item.SourceUrl">@item.SourceUrl</a></p>
			</div>
		</div>
	</div>
}

<style>
	form { display: inline;	}
	.login { margin-bottom: 7px; }
	.source-url { word-wrap: break-word; }
</style>

<script>
	$(function () {
		$(".source-popover").popover({
			html: true,
			title: "Source",
			content: function () {
				var $content = $(this).next();
				return $content.html();
			}
		});
	});
</script>